:root {
    /* #region Color Variables */
    --navButton: #363636;
    --gameButton: #CD3D0F;
    --newRelease: #1f1f1f;
    --plusButton: #D9DADC;
    --plusBack: #BEBCBB;
    --nowBack: #161C3B;
    /* #endregion */
}

.body {
    font-family: Arial, sans-serif;
}

/* #region Utility */

.fw_600 {
    font-weight: 600;
}

.f_s08 {
    font-size: 0.8rem;
}

/* #endregion */

/* #region header */

header .logo {
    height: 30px;
    background-color: black;
}

header .logo img {
    width: 100px;
}

img.chevron_def {
    width: 10px;
}

img.lens_def {
    width: 30px;
}

.btn_dark {
    background-color: var(--navButton);
}

/* #endregion */

/* #region Main  */

/* #region Jumbo  */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
}

.jumbo, .released {
    height: 680px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.jumbo img {
    height: 2.5rem;
}

.jumbo ul, .released ul {
    list-style: none;
}

.btn_game {
    background-color: var(--gameButton);
}

._card {
    width: 75%;
}

/* #endregion */

/* #region J Selector  */

.jumbo_selector img {
    width: 100%;
}

.ext_brd {
    border-radius: 20px;
}

.img_round {
    border-radius: 20px;
}

/* #endregion */

/* #region PS5  */

.showcase img {
    width: 80%;
}

.accessories img {
    width: 100%;
}

.trademark {
    vertical-align: top;
    font-size: .7rem;
}

/* #endregion */

/* #region Released  */

.released {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo ul, .released ul {
    width: 40%;
}

.released img {
    width: 250px;
}

/* #endregion */

/* #region New Releases  */

.new_release {
    background-color: var(--newRelease);
}

.new_release img {
    width: 100%;
    object-fit: cover;
}

/* #endregion */

/* #region Ps4  */

/* #endregion */

/* #region Plus  */

/* #endregion */

/* #endregion */

/* I need to change it, i dont want to use !important for now */

/* useless comment added for commit purpose only */

@media screen and (max-width: 576px) {
    .accessories [class*=col] {
        margin: 0!important;
    }
}

@media screen and (max-width: 1225px) {
    .released ul, .jumbo ul {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .released ul, .jumbo ul {
        width: max-content;
    }
}