:root {
    /* #region Color Variables */
    --navButton: #363636;
    --gameButton: #CD3D0F;
    --plusButton: #D9DADC;
    --plusBack: #BEBCBB;
    --nowBack: #161C3B;
    /* #endregion */
}

.body {
    font-family: Arial, sans-serif;
}

/* #region header */

header .logo {
    height: 30px;
    background-color: black;
}

header .logo img {
    width: 100px;
}

img.chevron_def {
    width: 10px;
}

img.lens_def {
    width: 30px;
}

.btn_dark {
    background-color: var(--navButton);
}

.fw_600 {
    font-weight: 600;
}

/* #endregion */

/* #region Main  */

/* #region Jumbo  */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 1000px;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 100px;
}

/* #endregion */

/* #region J Selector  */

/* #endregion */

/* #region PS5  */

/* #endregion */

/* #region Released  */

/* #endregion */

/* #region Ps4  */

/* #endregion */

/* #region Plus  */

/* #endregion */

/* #endregion */