:root {
    /* #region Color Variables */
    --navButton: #363636;
    --gameButton: #CD3D0F;
    --plusButton: #D9DADC;
    --plusBack: #BEBCBB;
    --nowBack: #161C3B;
    /* #endregion */
}

header .logo {
    height: 30px;
    background-color: black;
}

header .logo img {
    width: 100px;
}

img.chevron_def {
    width: 10px;
}

img.lens_def {
    width: 30px;
}

.btn_dark {
    background-color: var(--navButton);
}